body{
	background-color: #767070;
}
header{
	align-items: stretch;
	color: white;
	justify-content: center;
	text-align: center;
	font-family: 'Mate SC', serif;
}
header div{
	align-items: center;
	justify-content: space-around;
}
section{
	background-color: white;
	padding-top: 2vw;
	padding-left: 2vw;
	padding-right: 2vw;
	border: .5vw solid #000;
}
.fa-js{
	color: yellow;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h2{
	font-family: 'Playfair Display', serif;
	background-color: #827766;
	display: flex;
	height: 10vw;
	line-height: 10vw;
	/*justify-content: center;*/
	padding-left: 3vw;
	border-bottom: .5vw double #000;
}
article{
	height: 70vh;
	background-color: #B5AA9A;
	border: .5vw double #000;
}
article p, form{
	padding-left: 3vw;
}
.true{
	background-color:  #63A34B;
	color: white;
	display: inline-block;
	width: 10vw;
	height: 5vh;
	
}