header{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
background-color: #F2F2F2;	
height: 10vw;
overflow: hidden;
}
nav{
     display: flex;
     color: red;
     justify-content: space-between;
     flex-shrink: 2
}
img{
	width: 10%;
}
header{
	position: sticky;
	top: 0;
}
@media (orientation: landscape){
	body{
		background-color: hsla(189, 75%, 50%, 0.74);
	}
}
@media (orientation: portrait;){
	body{
		background-color: hsla(110, 75%, 50%, 0.74);
	}
}

h1{
	font-family: 'Stint Ultra Condensed', cursive;
	font-size: 5vw;
}