@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

#Talento h1 {
  text-align: center;
  margin-bottom: 5%;
  font-family: "Quicksand", sans-serif;
}

#Talento {
  padding-top: 5%;
  background-color: white;
  color: gray;
}
